body{
    height: 100%;
    margin: 0%;

}
@media screen and (max-width: 600px) {
    .hero{
        font-size: 5rem !important;
    }
   
  }

  @media screen and (max-width: 375px) {
    .hero{
        font-size: 3rem !important;
    }
    .page p{
        font-size: 1rem;
    }
    .project p{
        font-size: 0.75rem; 
    }
    .images{
        width: 100%;
        margin: 0%;
    }
  }

#name{
    font-family: 'Great Vibes', cursive;
}

.images{
    width: 40%; 
    height: auto; 
    padding: 1px; 
    margin: 5px;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}
.hero{
    font-size: 10rem;
    
}
.hero h5{
    font-weight: 700;
}

.about{
    font-size: 2rem;
    padding: 3rem;
}

.project{
    font-size: 2rem;
    padding: 3rem;
}


.send{
    background-color: #555555;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
